<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvSluhCfx3AjEV3GqBn6-UpYhi-noLbfU</string>
	<key>GCM_SENDER_ID</key>
	<string>1006181741380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.watchShop</string>
	<key>PROJECT_ID</key>
	<string>watch-shop-3cde6</string>
	<key>STORAGE_BUCKET</key>
	<string>watch-shop-3cde6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006181741380:ios:d6597f7d0e0f54189c5d11</string>
</dict>
</plist>